In [1]:
%matplotlib inline
import pandas

In [2]:
rent = pandas.read_csv('/Users/nerenevaz/Downloads/FA13-2016-17.csv')
rent.dropna(inplace=True)
rent

,DateTenancyCommenced,DateLodgement,BondAmount,PremisesWeeklyRent,PremisesDwellingType,NumberBedrooms,Premises_Postcode,Premises_Suburb
0,05/20/2013,06/17/2013,"$1,920",$480,H,4,2489.0,POTTSVILLE BEACH
1,05/22/2013,06/17/2013,"$2,080",$520,H,3,2487.0,CASUARINA
2,05/23/2013,06/17/2013,"$1,640",$410,T,3,2489.0,POTTSVILLE BEACH
3,05/22/2013,06/17/2013,"$2,400",$600,H,4,2488.0,CABARITA BEACH
5,06/14/2013,06/17/2013,"$1,560",$390,O,2,2145.0,SOUTH WENTWORTHVILLE
6,06/05/2013,06/17/2013,"$1,720",$430,F,2,2151.0,NORTH PARRAMATTA
16,06/05/2013,06/17/2013,"$1,460",$365,F,3,2323.0,METFORD
17,06/14/2013,06/17/2013,"$1,400",$350,H,3,2320.0,RUTHERFORD
18,05/29/2013,06/17/2013,"$1,600",$400,H,4,2320.0,BOLWARRA HEIGHTS
19,06/07/2013,06/17/2013,"$1,580",$395,H,4,2321.0,GILLIESTON HEIGHTS
20,05/31/2013,06/17/2013,"$1,720",$430,H,4,2321.0,GILLIESTON HEIGHTS
21,05/27/2013,06/17/2013,"$1,120",$280,H,2,2323.0,EAST MAITLAND
22,06/07/2013,06/17/2013,"$1,800",$450,H,4,2320.0,ABERGLASSLYN
23,05/30/2013,06/17/2013,"$1,600",$400,H,4,2321.0,GILLIESTON HEIGHTS
25,06/13/2013,06/17/2013,"$1,520",$380,H,4,2321.0,GILLIESTON HEIGHTS
26,06/07/2013,06/17/2013,"$1,280",$320,H,3,2320.0,RUTHERFORD
27,06/04/2013,06/17/2013,"$1,200",$300,H,3,2322.0,WOODBERRY
28,06/07/2013,06/17/2013,"$2,000",$500,H,3,2290.0,DUDLEY
31,06/06/2013,06/17/2013,"$2,000",$500,H,3,2290.0,DUDLEY
39,06/04/2013,06/17/2013,"$1,280",$320,T,3,2478.0,BALLINA
40,06/05/2013,06/17/2013,"$1,680",$420,H,3,2478.0,EAST BALLINA
41,06/05/2013,06/17/2013,"$1,480",$370,H,3,2472.0,BROADWATER
42,06/07/2013,06/17/2013,"$1,720",$430,H,3,2478.0,BALLINA
43,05/11/2013,06/17/2013,"$1,600",$400,H,3,2478.0,EAST BALLINA
44,06/06/2013,06/17/2013,"$1,200",$300,T,2,2478.0,EAST BALLINA
47,05/24/2013,06/17/2013,"$1,280",$320,H,2,2287.0,WALLSEND
48,05/23/2013,06/17/2013,"$1,480",$370,H,3,2285.0,MACQUARIE HILLS
49,05/27/2013,06/17/2013,"$1,180",$295,F,2,2285.0,CARDIFF
50,05/31/2013,06/17/2013,$840,$210,F,2,2323.0,EAST MAITLAND
51,06/04/2013,06/17/2013,$880,$220,F,1,2285.0,GLENDALE
...,...,...,...,...,...,...,...,...
913712,07/18/2016,07/18/2016,"$1,400",$350,F,3,2262.0,HALEKULANI
913713,07/18/2016,07/18/2016,"$1,800",$450,H,4,2262.0,HALEKULANI
913714,07/18/2016,07/18/2016,"$2,120",$530,O,3,2209.0,BEVERLY HILLS
913715,07/18/2016,07/18/2016,"$2,060",$515,F,1,2090.0,CREMORNE
913716,07/18/2016,07/18/2016,"$9,200","$2,300",H,4,2088.0,MOSMAN
913717,07/18/2016,07/18/2016,"$1,520",$380,F,2,2500.0,MOUNT ST THOMAS
913718,07/18/2016,07/18/2016,"$2,000",$500,H,2,2079.0,MOUNT COLAH
913719,07/18/2016,07/18/2016,"$1,960",$490,F,2,2140.0,HOMEBUSH WEST
913720,07/18/2016,07/18/2016,"$2,600",$650,H,4,2768.0,STANHOPE GARDENS
913721,07/18/2016,07/18/2016,"$2,600",$650,H,4,2220.0,HURSTVILLE
913722,07/19/2016,07/19/2016,"$2,600",$650,F,2,2017.0,WATERLOO
913723,07/19/2016,07/19/2016,"$2,320",$580,F,1,2009.0,PYRMONT
913724,07/19/2016,07/19/2016,"$1,440",$360,F,3,2484.0,MURWILLUMBAH
913725,07/19/2016,07/19/2016,"$2,280",$570,F,2,2067.0,CHATSWOOD
913726,07/19/2016,07/19/2016,"$2,320",$580,F,2,2114.0,MEADOWBANK
913727,07/19/2016,07/19/2016,"$2,440",$610,F,2,2111.0,GLADESVILLE
913728,07/19/2016,07/19/2016,"$2,440",$610,F,1,2060.0,NORTH SYDNEY
913729,07/19/2016,07/19/2016,"$1,080",$270,T,3,2641.0,LAVINGTON NSW
913730,07/19/2016,07/19/2016,"$2,880",$720,F,2,2060.0,MCMAHONS POINT
913731,07/19/2016,07/19/2016,"$1,640",$410,H,3,2173.0,HOLSWORTHY
913732,07/19/2016,07/19/2016,"$3,180",$795,F,2,2024.0,BRONTE
913733,07/19/2016,07/19/2016,"$2,320",$580,F,2,2077.0,WAITARA
913734,07/19/2016,07/19/2016,"$1,280",$320,F,3,2350.0,ARMIDALE
913735,07/19/2016,07/19/2016,"$1,720",$430,F,1,2230.0,WOOLOOWARE
913736,07/19/2016,07/19/2016,"$2,480",$620,T,2,2231.0,KURNELL
913737,07/19/2016,07/19/2016,"$1,000",$250,F,2,2031.0,RANDWICK
913738,07/19/2016,07/19/2016,"$1,660",$415,O,0,2008.0,CHIPPENDALE
913739,07/19/2016,07/19/2016,"$2,240",$560,F,1,2036.0,LITTLE BAY
913740,07/19/2016,07/19/2016,"$2,600",$650,H,3,2192.0,BELMORE
913741,07/19/2016,07/19/2016,"$1,960",$490,F,2,2066.0,LANE COVE

In [3]:
rent['DateLodgement'] = pandas.to_datetime(rent.DateLodgement,format='%m/%d/%Y')
rent['DateTenancyCommenced'] = pandas.to_datetime(rent.DateTenancyCommenced,format='%m/%d/%Y')
rent['BondAmount'].replace(regex=True,inplace=True,to_replace=r'\D',value=r'')
rent['PremisesWeeklyRent'].replace(regex=True,inplace=True,to_replace=r'\D',value=r'')
rent['BondAmount'] = rent['BondAmount'].convert_objects(convert_numeric=True)
rent['PremisesWeeklyRent'] = rent['PremisesWeeklyRent'].convert_objects(convert_numeric=True)
rent['DateLodgement'] = rent['DateLodgement'].apply(lambda x: x.strftime('%B-%Y'))    
rent['DateTenancyCommenced'] = rent['DateTenancyCommenced'].apply(lambda x: x.strftime('%B-%Y'))
rent['Premises_Postcode'] = rent['Premises_Postcode'].convert_objects(convert_numeric=True)
rent

/Users/nerenevaz/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:5: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
/Users/nerenevaz/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:6: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
/Users/nerenevaz/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:9: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

,DateTenancyCommenced,DateLodgement,BondAmount,PremisesWeeklyRent,PremisesDwellingType,NumberBedrooms,Premises_Postcode,Premises_Suburb
0,May-2013,June-2013,1920,480,H,4,2489.0,POTTSVILLE BEACH
1,May-2013,June-2013,2080,520,H,3,2487.0,CASUARINA
2,May-2013,June-2013,1640,410,T,3,2489.0,POTTSVILLE BEACH
3,May-2013,June-2013,2400,600,H,4,2488.0,CABARITA BEACH
5,June-2013,June-2013,1560,390,O,2,2145.0,SOUTH WENTWORTHVILLE
6,June-2013,June-2013,1720,430,F,2,2151.0,NORTH PARRAMATTA
16,June-2013,June-2013,1460,365,F,3,2323.0,METFORD
17,June-2013,June-2013,1400,350,H,3,2320.0,RUTHERFORD
18,May-2013,June-2013,1600,400,H,4,2320.0,BOLWARRA HEIGHTS
19,June-2013,June-2013,1580,395,H,4,2321.0,GILLIESTON HEIGHTS
20,May-2013,June-2013,1720,430,H,4,2321.0,GILLIESTON HEIGHTS
21,May-2013,June-2013,1120,280,H,2,2323.0,EAST MAITLAND
22,June-2013,June-2013,1800,450,H,4,2320.0,ABERGLASSLYN
23,May-2013,June-2013,1600,400,H,4,2321.0,GILLIESTON HEIGHTS
25,June-2013,June-2013,1520,380,H,4,2321.0,GILLIESTON HEIGHTS
26,June-2013,June-2013,1280,320,H,3,2320.0,RUTHERFORD
27,June-2013,June-2013,1200,300,H,3,2322.0,WOODBERRY
28,June-2013,June-2013,2000,500,H,3,2290.0,DUDLEY
31,June-2013,June-2013,2000,500,H,3,2290.0,DUDLEY
39,June-2013,June-2013,1280,320,T,3,2478.0,BALLINA
40,June-2013,June-2013,1680,420,H,3,2478.0,EAST BALLINA
41,June-2013,June-2013,1480,370,H,3,2472.0,BROADWATER
42,June-2013,June-2013,1720,430,H,3,2478.0,BALLINA
43,May-2013,June-2013,1600,400,H,3,2478.0,EAST BALLINA
44,June-2013,June-2013,1200,300,T,2,2478.0,EAST BALLINA
47,May-2013,June-2013,1280,320,H,2,2287.0,WALLSEND
48,May-2013,June-2013,1480,370,H,3,2285.0,MACQUARIE HILLS
49,May-2013,June-2013,1180,295,F,2,2285.0,CARDIFF
50,May-2013,June-2013,840,210,F,2,2323.0,EAST MAITLAND
51,June-2013,June-2013,880,220,F,1,2285.0,GLENDALE
...,...,...,...,...,...,...,...,...
913712,July-2016,July-2016,1400,350,F,3,2262.0,HALEKULANI
913713,July-2016,July-2016,1800,450,H,4,2262.0,HALEKULANI
913714,July-2016,July-2016,2120,530,O,3,2209.0,BEVERLY HILLS
913715,July-2016,July-2016,2060,515,F,1,2090.0,CREMORNE
913716,July-2016,July-2016,9200,2300,H,4,2088.0,MOSMAN
913717,July-2016,July-2016,1520,380,F,2,2500.0,MOUNT ST THOMAS
913718,July-2016,July-2016,2000,500,H,2,2079.0,MOUNT COLAH
913719,July-2016,July-2016,1960,490,F,2,2140.0,HOMEBUSH WEST
913720,July-2016,July-2016,2600,650,H,4,2768.0,STANHOPE GARDENS
913721,July-2016,July-2016,2600,650,H,4,2220.0,HURSTVILLE
913722,July-2016,July-2016,2600,650,F,2,2017.0,WATERLOO
913723,July-2016,July-2016,2320,580,F,1,2009.0,PYRMONT
913724,July-2016,July-2016,1440,360,F,3,2484.0,MURWILLUMBAH
913725,July-2016,July-2016,2280,570,F,2,2067.0,CHATSWOOD
913726,July-2016,July-2016,2320,580,F,2,2114.0,MEADOWBANK
913727,July-2016,July-2016,2440,610,F,2,2111.0,GLADESVILLE
913728,July-2016,July-2016,2440,610,F,1,2060.0,NORTH SYDNEY
913729,July-2016,July-2016,1080,270,T,3,2641.0,LAVINGTON NSW
913730,July-2016,July-2016,2880,720,F,2,2060.0,MCMAHONS POINT
913731,July-2016,July-2016,1640,410,H,3,2173.0,HOLSWORTHY
913732,July-2016,July-2016,3180,795,F,2,2024.0,BRONTE
913733,July-2016,July-2016,2320,580,F,2,2077.0,WAITARA
913734,July-2016,July-2016,1280,320,F,3,2350.0,ARMIDALE
913735,July-2016,July-2016,1720,430,F,1,2230.0,WOOLOOWARE
913736,July-2016,July-2016,2480,620,T,2,2231.0,KURNELL
913737,July-2016,July-2016,1000,250,F,2,2031.0,RANDWICK
913738,July-2016,July-2016,1660,415,O,0,2008.0,CHIPPENDALE
913739,July-2016,July-2016,2240,560,F,1,2036.0,LITTLE BAY
913740,July-2016,July-2016,2600,650,H,3,2192.0,BELMORE
913741,July-2016,July-2016,1960,490,F,2,2066.0,LANE COVE

In [6]:
result = rent.groupby(['DateTenancyCommenced','Premises_Postcode','Premises_Suburb'], as_index=False).agg(
                      {'PremisesWeeklyRent':['mean']})

results = result.reset_index(drop=True)
results

,DateTenancyCommenced,Premises_Postcode,Premises_Suburb,PremisesWeeklyRent
,,,,mean
0,April-2005,2800.0,ORANGE,210.000000
1,April-2006,2292.0,BROADMEADOW,150.000000
2,April-2008,2548.0,MERIMBULA,200.000000
3,April-2008,2770.0,MT DRUITT,300.000000
4,April-2009,2037.0,GLEBE,1150.000000
5,April-2009,2320.0,RUTHERFORD,185.000000
6,April-2009,2528.0,BARRACK HEIGHTS,320.000000
7,April-2010,2431.0,SOUTH WEST ROCKS,185.000000
8,April-2010,2528.0,BARRACK HEIGHTS,360.000000
9,April-2011,2200.0,BANKSTOWN,400.000000
10,April-2011,2306.0,WINDALE,200.000000
11,April-2011,2333.0,MUSWELLBROOK,250.000000
12,April-2011,2484.0,MURWILLUMBAH,400.000000
13,April-2011,2519.0,FAIRY MEADOW,510.000000
14,April-2011,2750.0,PENRITH,250.000000
15,April-2012,2000.0,SYDNEY,1340.000000
16,April-2012,2022.0,BONDI JUNCTION,482.500000
17,April-2012,2024.0,BRONTE,560.000000
18,April-2012,2042.0,NEWTOWN,73.000000
19,April-2012,2114.0,WEST RYDE,560.000000
20,April-2012,2195.0,LAKEMBA,340.000000
21,April-2012,2297.0,TIGHES HILL,300.000000
22,April-2012,2322.0,TARRO,340.000000
23,April-2012,2340.0,KINGSWOOD,151.000000
24,April-2012,2340.0,TAMWORTH,185.000000
25,April-2012,2343.0,QUIRINDI,185.000000
26,April-2012,2430.0,TAREE,290.000000
27,April-2012,2530.0,DAPTO,380.000000
28,April-2012,2710.0,DENILIQUIN,165.000000
29,April-2012,2770.0,MINCHINBURY,480.000000
...,...,...,...,...
59523,September-2015,2840.0,BOURKE,215.000000
59524,September-2015,2842.0,MENDOORAN,170.000000
59525,September-2015,2843.0,COOLAH,177.500000
59526,September-2015,2844.0,DUNEDOO,180.000000
59527,September-2015,2845.0,WALLERAWANG,210.000000
59528,September-2015,2846.0,GLEN DAVIS,300.000000
59529,September-2015,2847.0,PORTLAND,223.333333
59530,September-2015,2848.0,CHARBON,195.000000
59531,September-2015,2848.0,KANDOS,175.000000
59532,September-2015,2849.0,RYLSTONE,262.500000
59533,September-2015,2850.0,GALAMBINE,300.000000
59534,September-2015,2850.0,MUDGEE,307.578947
59535,September-2015,2850.0,YARRAWONGA,240.000000
59536,September-2015,2852.0,GULGONG,251.857143
59537,September-2015,2865.0,MANILDRA,195.000000
59538,September-2015,2866.0,MOLONG,217.857143
59539,September-2015,2870.0,PARKES,168.750000
59540,September-2015,2871.0,FORBES,219.062500
59541,September-2015,2877.0,CONDOBOLIN,221.428571
59542,September-2015,2878.0,IVANHOE,40.000000
59543,September-2015,2880.0,BROKEN HILL,239.038462
59544,September-2015,3644.0,BAROOGA,182.500000
59545,September-2016,2007.0,ULTIMO,590.000000
59546,September-2016,2033.0,KENSINGTON,580.000000
59547,September-2016,2145.0,WESTMEAD,400.000000
59548,September-2016,2216.0,ROCKDALE,275.000000
59549,September-2016,2263.0,LAKE HAVEN,350.000000
59550,September-2016,2450.0,COFFS HARBOUR,390.000000
59551,September-2017,2170.0,LIVERPOOL,220.000000
59552,September-2018,2121.0,EPPING,390.000000